/*2016-03-25 17:34:18*/ 

/*core\widget\impl\layout\layout.css*/
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
}

.row .col[class*="push-"], .row .col[class*="pull-"] {
    position: relative;
}

.row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.offset-s1 {
    margin-left: 8.3333333333%;
}

.row .col.pull-s1 {
    right: 8.3333333333%;
}

.row .col.push-s1 {
    left: 8.3333333333%;
}

.row .col.offset-s2 {
    margin-left: 16.6666666667%;
}

.row .col.pull-s2 {
    right: 16.6666666667%;
}

.row .col.push-s2 {
    left: 16.6666666667%;
}

.row .col.offset-s3 {
    margin-left: 25%;
}

.row .col.pull-s3 {
    right: 25%;
}

.row .col.push-s3 {
    left: 25%;
}

.row .col.offset-s4 {
    margin-left: 33.3333333333%;
}

.row .col.pull-s4 {
    right: 33.3333333333%;
}

.row .col.push-s4 {
    left: 33.3333333333%;
}

.row .col.offset-s5 {
    margin-left: 41.6666666667%;
}

.row .col.pull-s5 {
    right: 41.6666666667%;
}

.row .col.push-s5 {
    left: 41.6666666667%;
}

.row .col.offset-s6 {
    margin-left: 50%;
}

.row .col.pull-s6 {
    right: 50%;
}

.row .col.push-s6 {
    left: 50%;
}

.row .col.offset-s7 {
    margin-left: 58.3333333333%;
}

.row .col.pull-s7 {
    right: 58.3333333333%;
}

.row .col.push-s7 {
    left: 58.3333333333%;
}

.row .col.offset-s8 {
    margin-left: 66.6666666667%;
}

.row .col.pull-s8 {
    right: 66.6666666667%;
}

.row .col.push-s8 {
    left: 66.6666666667%;
}

.row .col.offset-s9 {
    margin-left: 75%;
}

.row .col.pull-s9 {
    right: 75%;
}

.row .col.push-s9 {
    left: 75%;
}

.row .col.offset-s10 {
    margin-left: 83.3333333333%;
}

.row .col.pull-s10 {
    right: 83.3333333333%;
}

.row .col.push-s10 {
    left: 83.3333333333%;
}

.row .col.offset-s11 {
    margin-left: 91.6666666667%;
}

.row .col.pull-s11 {
    right: 91.6666666667%;
}

.row .col.push-s11 {
    left: 91.6666666667%;
}

.row .col.offset-s12 {
    margin-left: 100%;
}

.row .col.pull-s12 {
    right: 100%;
}

.row .col.push-s12 {
    left: 100%;
}

@media only screen and (min-width: 601px) {
    .row .col.m1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.offset-m1 {
        margin-left: 8.3333333333%;
    }
    .row .col.pull-m1 {
        right: 8.3333333333%;
    }
    .row .col.push-m1 {
        left: 8.3333333333%;
    }
    .row .col.offset-m2 {
        margin-left: 16.6666666667%;
    }
    .row .col.pull-m2 {
        right: 16.6666666667%;
    }
    .row .col.push-m2 {
        left: 16.6666666667%;
    }
    .row .col.offset-m3 {
        margin-left: 25%;
    }
    .row .col.pull-m3 {
        right: 25%;
    }
    .row .col.push-m3 {
        left: 25%;
    }
    .row .col.offset-m4 {
        margin-left: 33.3333333333%;
    }
    .row .col.pull-m4 {
        right: 33.3333333333%;
    }
    .row .col.push-m4 {
        left: 33.3333333333%;
    }
    .row .col.offset-m5 {
        margin-left: 41.6666666667%;
    }
    .row .col.pull-m5 {
        right: 41.6666666667%;
    }
    .row .col.push-m5 {
        left: 41.6666666667%;
    }
    .row .col.offset-m6 {
        margin-left: 50%;
    }
    .row .col.pull-m6 {
        right: 50%;
    }
    .row .col.push-m6 {
        left: 50%;
    }
    .row .col.offset-m7 {
        margin-left: 58.3333333333%;
    }
    .row .col.pull-m7 {
        right: 58.3333333333%;
    }
    .row .col.push-m7 {
        left: 58.3333333333%;
    }
    .row .col.offset-m8 {
        margin-left: 66.6666666667%;
    }
    .row .col.pull-m8 {
        right: 66.6666666667%;
    }
    .row .col.push-m8 {
        left: 66.6666666667%;
    }
    .row .col.offset-m9 {
        margin-left: 75%;
    }
    .row .col.pull-m9 {
        right: 75%;
    }
    .row .col.push-m9 {
        left: 75%;
    }
    .row .col.offset-m10 {
        margin-left: 83.3333333333%;
    }
    .row .col.pull-m10 {
        right: 83.3333333333%;
    }
    .row .col.push-m10 {
        left: 83.3333333333%;
    }
    .row .col.offset-m11 {
        margin-left: 91.6666666667%;
    }
    .row .col.pull-m11 {
        right: 91.6666666667%;
    }
    .row .col.push-m11 {
        left: 91.6666666667%;
    }
    .row .col.offset-m12 {
        margin-left: 100%;
    }
    .row .col.pull-m12 {
        right: 100%;
    }
    .row .col.push-m12 {
        left: 100%;
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col.offset-l1 {
        margin-left: 8.3333333333%;
    }
    .row .col.pull-l1 {
        right: 8.3333333333%;
    }
    .row .col.push-l1 {
        left: 8.3333333333%;
    }
    .row .col.offset-l2 {
        margin-left: 16.6666666667%;
    }
    .row .col.pull-l2 {
        right: 16.6666666667%;
    }
    .row .col.push-l2 {
        left: 16.6666666667%;
    }
    .row .col.offset-l3 {
        margin-left: 25%;
    }
    .row .col.pull-l3 {
        right: 25%;
    }
    .row .col.push-l3 {
        left: 25%;
    }
    .row .col.offset-l4 {
        margin-left: 33.3333333333%;
    }
    .row .col.pull-l4 {
        right: 33.3333333333%;
    }
    .row .col.push-l4 {
        left: 33.3333333333%;
    }
    .row .col.offset-l5 {
        margin-left: 41.6666666667%;
    }
    .row .col.pull-l5 {
        right: 41.6666666667%;
    }
    .row .col.push-l5 {
        left: 41.6666666667%;
    }
    .row .col.offset-l6 {
        margin-left: 50%;
    }
    .row .col.pull-l6 {
        right: 50%;
    }
    .row .col.push-l6 {
        left: 50%;
    }
    .row .col.offset-l7 {
        margin-left: 58.3333333333%;
    }
    .row .col.pull-l7 {
        right: 58.3333333333%;
    }
    .row .col.push-l7 {
        left: 58.3333333333%;
    }
    .row .col.offset-l8 {
        margin-left: 66.6666666667%;
    }
    .row .col.pull-l8 {
        right: 66.6666666667%;
    }
    .row .col.push-l8 {
        left: 66.6666666667%;
    }
    .row .col.offset-l9 {
        margin-left: 75%;
    }
    .row .col.pull-l9 {
        right: 75%;
    }
    .row .col.push-l9 {
        left: 75%;
    }
    .row .col.offset-l10 {
        margin-left: 83.3333333333%;
    }
    .row .col.pull-l10 {
        right: 83.3333333333%;
    }
    .row .col.push-l10 {
        left: 83.3333333333%;
    }
    .row .col.offset-l11 {
        margin-left: 91.6666666667%;
    }
    .row .col.pull-l11 {
        right: 91.6666666667%;
    }
    .row .col.push-l11 {
        left: 91.6666666667%;
    }
    .row .col.offset-l12 {
        margin-left: 100%;
    }
    .row .col.pull-l12 {
        right: 100%;
    }
    .row .col.push-l12 {
        left: 100%;
    }
}

.hui-layout-topRegion
{
    position : absolute;
    top : 0px ;
    width : 100%
}

.hui-layout-midRegion
{
    position : absolute;
    width : 100%
}

.hui-layout-bottomRegion
{
    position : absolute;
    bottom : 0px;
    width : 100%
}

.hui-layout-leftRegion
{
    position : absolute;
    left : 0px;
    height : 100%
}

.hui-layout-rightRegion
{
    position : absolute;
    right : 0px;
    height : 100%
}

.hui-fullScreen 
{
    position : fixed;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px
}

div[hui-widget-type = "tradeContainer"]
{
    position: absolute;
    width:100%;
    height:100%;
}

.hui-singlePage-embed
{
    width: 80%!important;
    height: 80%!important;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 10000;
}

.hui-singlePage-normal 
{

}

.hui-widget-view 
{
    width:100%;
    height:100%;
}
/*core\widget\impl\datepicker\datepicker.css*/
.hui-datepicker {
    position: fixed;
    width: 80vw;
    z-index: 10000
}

.hui-datepicker-yearPanel {
    position: relative;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    height: 3vw;
    line-height: 3vw;
    background-color: rgb(46, 172, 228);
    text-align: center;
}

.hui-datepicker-monthPanel {
    position: relative;
    height: 40vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    border-bottom-left-radius: 0.4vw;
    border-bottom-right-radius: 0.4vw;
}

.hui-datepicker-arrowButton
{
    color: white;
    font-size: 3vw;
    background-color: rgb(46, 172, 228);
    border: 0vw;
    height: 100%;
    line-height: 100%
}

.hui-datepicker-monthTab {
    position: relative;
    height: 4vw;
    line-height: 4vw;
    border-bottom: 0.15vw solid rgb(228, 228, 228);
    padding: 0vw;
    margin-top: 0vw;
    margin-bottom: 0.2vw;
    font-size: 1.6vw;
    color: rgb(110, 192, 234);
}

.hui-datepicker-month {
    width: 8.33%;
    float: left;
    text-align: center;
    list-style: none;
}


.hui-datepicker-month-selected {
    color: rgb(57, 181, 232);
    font-size: 2vw;
    border-bottom: 2px solid rgb(57, 181, 232)
}

.hui-datepicker-yearDisplay
{
    width: 30%;
    color: white;
    font-size: 2.4vw;
    float: left;
}

.hui-datepicker-nearYear
{
    color: rgb(172, 216, 243);
    font-size: 1.8vw;
}

.hui-datepicker-dateCell {
    height: 4vw;
    width: 4vw;
    line-height: 4vw;
    text-align: center;
    float: left;
    border-radius: 2vw;
    border: 0vw;
    background-color: white;
    outline: none;
    font-size: 1.2vw;
    margin-bottom: 1px;
}

.hui-datepicker-monthsDisplay {
    position: relative;
    float: left;
    height: 100%;
    width: 80%;
}

.hui-datepicker-monthDisplay {
    position: absolute;
    top: 1.5vw;
    width: 30vw;
    height: 32vw;
    border-radius: 0.6vw;
    padding-bottom: 0.3vw;
    border: 1px solid rgb(34, 173, 228);
}

.hui-datepicker-month-left {
    left: 0vw;
}

.hui-datepicker-month-right {
    right: 0vw;
}

.hui-datepicker-monthLabel {
    width: 93%;
    height: 100%;
    line-height: 3vw;
    font-size: 2.4vw;
    text-align: right;
    color: rgb(34, 173, 228);
}

.hui-datepickier-dateCellHover
{
    border : 0.2vw solid rgb(34, 173, 228) !important;
    line-height: 3.4vw!important;
}

.hui-datepicker-dateSelected
{
    border : 0.2vw solid rgb(34, 173, 228) !important;
    background-color: rgb(34, 173, 228) !important;
    color : white;
    font-weight: bold;
    line-height: 3.6vw!important;
    font-size: 1.4vw;
    text-align: center;
}

.hui-datepicker-dateRow
{
    padding-left: 0.6vw;
}

.hui-datepicker-operationsPanel {
    position: absolute;
    right: 0vw;
    width: 20%;
    padding-top: 2vw;
}

.hui-datepicker-button {
    border-radius: 0.4vw;
    border-bottom: 0.15vw solid rgb(38, 121, 155);
    width: 75%;
    margin-bottom: 1.5vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    line-height: 3.2vw;
    font-size: 2vw;
    height: 4vw;
    margin-left: 1.6vw;
    background-color: rgb(54, 180, 231);
    color: white;
}
/*core\widget\impl\processBar\ProcessBar.css*/
.processbar-step-point{
    position: absolute;
    width:30px;
    height:30px;
    border-radius: 15px;
    top:-5px;
}

.processbar-step-point-processed{
    background-color: #0d8018;
}

.processbar-step-point-unprocessed {
    background-color: rosybrown;
}

.processbar-step-des
{
    position:absolute;
    top: 32px;
    left: -90px;
    width:200px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.processbar-bar
{
    position:relative;
    width: 100%;
    height: 20px;
    background-color: white;
}

.processbar-step-handled
{
    height:100%;
    position:absolute;
    left:0px;
    background-color: green
}
/*core\widget\impl\overlay\overlay.css*/
.hui-overlay-style{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.5;
    background-color: black;
}
/*core\widget\impl\alert\Alert.css*/
.hui-alert-overlay
{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.5;
    background-color: black;
}

.hui-alert-root
{
    position:absolute;
    top: 25%;
    left:30%;
    bottom:25%;
    right:30%;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: white;
    z-index: 10000;
}

.hui-alert-title
{
    position:absolute;
    background-color: yellow;
    text-align: center;
    top: 0px;
    height: 15%;
    /*line-height: 15%;*/
    width: 100%;
    font-size: 1.4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10000;
}

.hui-alert-content
{
    position:absolute;
    height: 70%;
    top: 15%;
    width: 100%;
    background-color: inherit;
    z-index: 10000;
}

.hui-alert-bottom
{
    position: absolute;
    height: 15%;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    background-color: blue;
    z-index: 10000;
}

.hui-alert-button
{
    position:absolute!important;
    top: 15%;
    bottom: 15%;
    z-index: 10000;
}
/*core\widget\impl\wattPanel\WattPanel.css*/
.ui-WattPanel{
    position: absolute;
    top:30%;
    right: 15%;
    bottom: 30%;
    left: 15%;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.ui-WattPanel-img{
      width: 2rem;
      height: 2rem;
}
.ui-WattPanel-msgNode{
    display: inline-block;
    color: #000000;
    margin-left: 2ch;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
}


/*core\widget\impl\popWindow\PopWindow.css*/
.hui-PopWindow-style{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.5;
    background-color: black;
}
/*core\widget\impl\handWritingPanel\HandWrittingPanel.css*/
.hui-HandWrittingPanel-style
{
    background-color: white;
}
/*core\widget\impl\Select\Select.css*/
.hui-widget-view {
    position: relative;
    width: 100%;
    height: 100%;
}
.selOptionUlDiv{
    display: none;
    height: auto;
    max-height: 23vw;
    width: 100%;
    position: absolute;
    border: solid 1px black;
    z-index: 20000;
    overflow-y: auto;
    overflow-x: hidden;
    /*float: left;*/
    background: #ffffff;
    /*border-radius: 0.05rem;*/
}
.selOptionUlDiv ul
,.selOptionViewForm{
    width: inherit;
    padding: 0;
    margin: 0;
}
.selOptionUlDiv li:hover,
.selOptionUlDiv li:active{
    background: #000000;
    color: #ffffff;
}
.selOptionUlDiv li.current_li{
    background: #3399FF;
    color: #ffffff;
}
.selOptionUlDiv li{
    width: inherit;
    /*height: 0.4rem;*/
    /*line-height: 0.4rem;*/
    padding-left: 0.5ch;
    list-style: none;
}
.selOptionInput{
    width: 100%;
    /*background-image: url("../img/downIcon.png");*/
    /*background-position: right;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}